# core
fastapi
uvicorn[standard]

# config
pydantic-settings
python-dotenv
pydantic[email]

# database
sqlalchemy
asyncpg
alembic
greenlet

# http client
httpx

# dev
black
ruff
mypy
pytest
pytest-asyncio
